/**
 * Simple CSS for a overlay with a throbber.
 */
#facetapi_scrolling_links_throbber {
  background-color: #fff; /* Fallback */
  background: url('../img/throbber.gif') no-repeat scroll center center rgba(255, 255, 255, .75);
  position: fixed;
  z-index: 9999;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
